<!-- pt-16 for the fixed-position header -->
<section
  class="my-page-width js-bg-color pt-16 min-h-screen flex flex-col justify-end items-start pb-8"
  data-color="[10, 10, 10]"
>
  <h1 class="font-serif font-bold text-5xl mb-2">Pedro Pessoa</h1>
  <p class="opacity-85">Developer</p>
</section>

<section class="my-page-width">
  {{ range .Projects }} {{ template "offset-blocks.html" . }} {{ end }}
</section>
<br />

<!-- Sections can indicate what color background this desire, so we listen to those requests -->
{{template "canvas-stripes" }}

<!-- Bring in script and styling to the mouse following gizmo i made -->
<!-- template "jerry.html" -->
