<!-- pt-16 for the fixed-position header -->
<section
  class="my-page-width js-bg-color pt-16 min-h-screen flex flex-col justify-end items-start pb-8"
  data-color="[10, 10, 10]"
>
  <h1 class="font-serif font-bold text-5xl mb-2">Pedro Pessoa</h1>
  <p class="opacity-85">Developer</p>
</section>

<section
  class="my-page-width js-bg-color pt-16 pb-8 min-h-screen"
  data-color="[13,182,182]"
>
  <h2 class="font-serif font-bold text-4xl">Bitbu</h2>
  <p class="opacity-85 text-sm">Co-Founder. (2020 - 2024)</p>
  <p class="mt-4">
    Bitbu is a platform for musician colaborate online from idea to release.
  </p>

  <section class="mt-12">
    <h3 class="font-serif font-bold text-3xl">Frontend</h3>

    <div class="flex items-center gap-4 mt-2">
      <div class="w-1/2">
        <img
          src="/public/bitbu-cover.jpg"
          alt="Screenshot of home page of bitbu website"
          class="w-full"
        />
      </div>

      <div class="w-1/2">
        <p>The frontend was lik blablabla you know</p>
      </div>
    </div>
  </section>
</section>

<section
  class="my-page-width js-bg-color pt-16 pb-8 min-h-screen"
  data-color="[253,250,247]"
>
  <h2 class="font-serif font-bold text-4xl">Ludlow Kingsley</h2>
  <p class="opacity-85 text-sm">Frontend developer. (2020 - 2021)</p>
  <p class="mt-4">Ludlow Kingley is a Los-Angeles-based design studio</p>

  <section class="mt-12">
    <h3 class="font-serif font-bold text-3xl">Jerde</h3>

    <div class="flex items-center gap-4 mt-2">
      <div class="w-1/2">
        <img
          src="/public/bitbu-cover.jpg"
          alt="Screenshot of home page of bitbu website"
          class="w-full"
        />
      </div>

      <div class="w-1/2">
        <p>The frontend was lik blablabla you know</p>
      </div>
    </div>
  </section>

  <section class="mt-12 js-bg-color" data-color="[51, 81, 123]">
    <h3 class="font-serif font-bold text-3xl">Zinc Cafe</h3>
    <p class="opacity-85 text-sm">Built with: PHP</p>
    <p class="opacity-85 text-sm">Deployed on: 
      <div class="flex gap-4">
        <div>
          {{ template "icon-cloudways"}}
        </div>
      </div>
    </p>

    <div class="flex items-center gap-4 mt-4">
      <div class="w-1/2">
        <img
          src="/public/bitbu-cover.jpg"
          alt="Screenshot of home page of bitbu website"
          class="w-full"
        />
      </div>

      <div class="w-1/2">
        <p>
          Zinc Cafe is a Southern California cafe, market, and bar with multiple
          locations. Their focus on both customer and employee experiences makes
          for a wonderful place to gather.
        </p>
      </div>
    </div>
  </section>
</section>

<section
  class="my-page-width js-bg-color pt-16 pb-8 min-h-screen"
  data-color="[10, 50, 10]"
>
  <h2 class="font-serif font-bold text-4xl">Section title 3</h2>
  <p class="text-gray-300">Section content</p>
</section>
