<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <!-- <link href="/style.css" rel="stylesheet" /> -->
    <!-- For running it on the lvie server (without internet) -->
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>{{ template "header" . }}</header>
    <!-- Pad-top for the fixed-position header -->

    {{ template "canvas-stripes"}}

    <main class="pt-16">{{ .Content }}</main>
    <footer>{{ template "footer" . }}</footer>
  </body>
</html>
