@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9f6ef;
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  transition: background 0.5s ease-out, color 0.5s ease-out;
  font-size: 24px;
}

.js-linkout-arrow {
  transition: transform 0.3s ease-out;
}

.my-link-hover svg {
  overflow: visible;
}

.my-link-hover:hover .js-linkout-arrow {
  transform: translate(6px, -6px);
}

.font-serif {
  font-family: Georgia, Garamond, ui-serif, "Times New Roman", Times, serif;
  letter-spacing: 0.02em;
}

.my-page-width {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

@media (max-width: 768px) {
  .my-page-width {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.has-tooltip {
  position: relative;
}

.tooltip {
  display: none;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  max-width: 360px;
  color: white;
  background-color: transparent;
  border: 1px solid red;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  font-size: 12px;
  white-space: pre;
}

.has-tooltip:hover .tooltip,
.tooltip:hover {
  display: block;
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: 768px) {
  .my-flipping-section {
    margin-top: -12em;
  }

  .my-flipping-section .my-flipping-section__text {
    padding-top: 12em;
    padding-bottom: 12em;
  }

  .my-flipping-section:first-of-type .my-flipping-section__text {
    /* padding-top: 4em; */
  }
  .my-flipping-section:first-of-type {
    margin-top: 0;
  }

  .my-flipping-section:nth-child(even) {
    flex-direction: row-reverse;
    /* align-items: flex-end; */
  }
}

@media (min-width: 1100px) {
  .my-flipping-section {
    margin-top: -24em;
  }

  .my-flipping-section .my-flipping-section__text {
    padding-top: 24em;
    padding-bottom: 24em;
  }

  .my-flipping-section:first-of-type .my-flipping-section__text {
    /* padding-top: 8em; */
  }
}

.my-other-project {
  width: 100%;
  max-width: 200px;
  text-align: left;
}

.my-other-project img {
  width: 170px;
  height: 170px;
  min-width: 170px;
  min-height: 170px;
  /* background: rgba(0, 0, 0, 0.3); */
  object-fit: cover;
  border-radius: 20px;
  color: transparent;
}

.my-other-project h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}

.my-other-project p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .my-other-project h3 {
    margin-top: 15px;
  }
}

.my-pill-list {
  flex-wrap: wrap;
}

.my-pill-list li {
  padding: 3px 12px;
  border-radius: 4px;
  white-space: nowrap;
}

.body-white .my-pill-list li {
  background-color: #e6e1e1;
}

.body-black .my-pill-list li {
  background-color: #333;
}
