<div class="flex flex-wrap justify-center w-100 gap-y-24 gap-x-20">
  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="imperial.png"
      alt="Imperial college logo"
    />
    <h3>Imperial College London</h3>
    <p>MSc Renewable Energy Futures – School of Mechanical Engineering</p>
  </div>

  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="umd.png"
      alt="University of Maryland logo"
    />
    <h3>University of Maryland</h3>
    <p>BSc Mechanical Engineering</p>
  </div>
</div>
