<h2 class="font-bold text-6xl mb-16">for fun</h2>

<div class="flex flex-wrap justify-between w-100 gap-y-24 gap-x-20">
  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="otherproject1.jpg"
      alt="Feature in the app"
    />
    <h3>Imperial College London</h3>
    <p>MSc Renewable Energy Futures – School of Mechanical Engineering</p>
  </div>

  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="otherproject1.jpg"
      alt="Feature in the app"
    />
    <h3>University of Maryland, College Park</h3>
    <p>BSc Mechanical Engineering</p>
  </div>
</div>
