{{ define "footer" }}

<div
  class="flex flex-col gap-4 bg-slate-50 text-slate-800 text-2xl md:text-4xl lg:text-6xl py-32 text-center text-bold"
>
  <div class="my-page-width">
    <p>contact me</p>
    <a
      class="underline uppercase block font-bold p-4"
      href="mailto:pedro.bom7@gmail.com"
      >pedro.bom7@gmail.com</a
    >

    <a
      class="underline uppercase block font-bold p-4"
      href="https://github.com/pedroperson"
      >github/pedroperson</a
    >
  </div>
</div>
{{ end }}
