<div
  class="flex gap-8 sm:gap-10 lg:gap-20 xl:gap-24 flex-col md:flex-row flex-nowrap js-bg-color pt-32 lowercase my-flipping-section"
  data-color="{{ .Color }}"
>
  <div class="flex-1 min-w-0">
    <img
      class="w-100"
      src="{{ .Image1 }}"
      alt="{{ .Image1Alt }}"
      loading="lazy"
      decoding="async"
      fetchpriority="low"
    />
  </div>

  <div
    class="flex-1 min-w-0 flex flex-col-reverse md:flex-col gap-24 my-flipping-section__text"
  >
    <a class="my-link-hover" href="{{ .URL }}">
      <h3
        class="inline mb-8 font-bold text-6xl sm:text-7xl lg:text-8xl xl:text-9xl"
      >
        {{ .Name }}
      </h3>
      <span class="inline-block w-12">{{ template "link-out.html"}}</span>
    </a>

    <div class="font-bold text-2xl flex flex-col gap-3 w-100">
      <p>role: {{.Role}}</p>
      <div class="w-full border-t" style="border-color: currentColor"></div>
      <p>business: {{.Business}}</p>
      <div class="w-full border-t" style="border-color: currentColor"></div>
      <p>i did: {{.Tasks}}</p>
      <div class="w-full border-t" style="border-color: currentColor"></div>
    </div>
  </div>
</div>
