<h2 class="font-bold text-6xl mb-16">for fun</h2>

<div class="flex flex-wrap justify-between w-100 gap-y-24 gap-x-20">
  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="otherproject1.jpg"
      alt="Feature in the app"
    />
    <h3>Android apps (2014-2015)</h3>
    <p>
      Published two educational android apps focused on home energy use and its
      environmental effects.
    </p>
  </div>

  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="otherproject1.jpg"
      alt="Feature in the app"
    />
    <h3>AI<br />(2018-Now)</h3>
    <p>
      Trying to improve training performance in unsupervised learning for fun
      with 2 friends
    </p>
  </div>

  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="otherproject1.jpg"
      alt="Feature in the app"
    />
    <h3>Simulations<br />(2013-Now)</h3>
    <p>
      I write simulations for fun to help me understand phenomena. From fluids
      to traffic.
    </p>
  </div>

  <div class="my-other-project">
    <img
      decoding="async"
      loading="lazy"
      fetchpriority="low"
      src="otherproject1.jpg"
      alt="Feature in the app"
    />
    <h3>Robotics<br />(2009-Now)</h3>
    <p>
      Using the microcontroller at hand I have fun building little projects that
      mix hard and software.
    </p>
  </div>
</div>
